.modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal_content {
  background-color: white;
  margin: 15% auto;
  padding: 16px;
  border: 1px solid #888;
  width: 80%;
}
